body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
    color: rgb(83, 69, 69);
}
h2{
    font-size: 45px;
    color: rgb(83, 69, 69);
}
h3{
    font-size: 25px;
    color: rgb(119, 118, 118);
    text-align: center;
}
p{
    font-weight: 600;
    color: rgb(116, 105, 105);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.top-part{
    padding-top: 50px;
}
.top-part h1{ 
    padding: 100px 15px 10px 0px;
}
.top-part p{
    padding: 0px 15px 30px 0px;
}
.top-part img{
    width: 92%;
}
.special-color{
    color:#f5440e;
}
.linked-button{
    text-decoration: none;
    padding: 20px 30px;
    background-image: linear-gradient(to right, rgb(251, 162, 79), rgb(255, 30, 30));
    border-radius: 100px;
    color: white;
    font-weight: 500;
    box-shadow: 5px 10px 50px rgb(231, 225, 157);
}
.middle-part{
    background-image: url(images/frame-middle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.middle-part img{
    width: 65%;
    display: block;
    padding-left: 30px;
    margin: 0 auto;
}
.about-network{
    width: 35%;
    padding-left: 5%;
    padding-right: 5%;
}
.about-network h2{ 
    padding: 50px 0px 15px;
}
.about-network p{
    padding: 0px 0px 70px 0px;
    text-align: justify;
}
.recipe-intro{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#recipe-box{
    justify-content: center;
}
#recipe-box p{ 
    text-align: justify;
}
#partition{
    width: 25%;
}
#recipe-box #partition{     
    padding: 10px;
    box-shadow: 5px 10px 20px rgb(148, 134, 134);
    border-radius: 20px;
    margin: 15px;
}
#recipe-box img{
    width: 100%; 
    margin: 10px auto 20px ; 
}
.social-partition{
    padding: 20px 50px;
}
.counter{
    box-shadow: 5px 10px 20px rgb(148, 134, 134);
    width: 84%;
    margin: 0 auto 100px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}
input[type=submit]{
    background-color: rgb(245, 68, 14);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 700;
  }
  #email-box{
    border: 3px solid rgb(245, 68, 14);
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 0px;
    text-align: center;
  }
.newsletter p{
    text-align: center;
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}